<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>form</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <form th:object="${user}" th:action="@{/form}" th:method="post">
            <div class="form-group">
                <label for="login">Login address:</label>
                <input type="text" class="form-control" id="login" th:field="*{login}"/>
                <span class="alert alert-danger" th:if="${errors!=null and errors.get('login')!=null}" th:text="${errors.get('login')}"></span>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" th:field="*{password}"/>
                <span  class="alert alert-danger" th:if="${errors!=null and errors.get('password')!=null}" th:text="${errors.get('password')}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>