<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="jumbotron col-12 col-md-auto">
        Menu

    </div>
</div>

Hello <span th:text="${nickname}"></span>

<div class="row">
    <div class="jumbotron col-12 col-md-auto">
        <th:block th:replace="this :: content">
            content
        </th:block>
    </div>
</div>
<div class="row">
    <div class="jumbotron col-12 col-md-auto">
        Footer

    </div>
</div>
</body>
</html>